@import './bootstrap.scss';
@import "./font-awesone.scss";

$green-light:  #126608 !default;
$green-dark:   #0a3a05 !default;

a, a:hover, a:link, a:focus, a:visited {
  color: $green-light;
}

a:hover {
  color: $green-dark;
}

.container {
  width: 94%;
  max-width: 94%;
  padding-bottom: 4rem;
}

.header {
  h3.name {
    margin-bottom: 1rem;
  }

  li.nav-item {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .container {
    width: map-get($grid-breakpoints, lg) - 46;
    max-width: 100%;
  }

  .header {
    h3.name {
      margin-bottom: 0;
    }

    li.nav-item {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, xl)) {
  .container {
    width: map-get($grid-breakpoints, xl) - 46;
    max-width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1354px;
    max-width: 100%;
  }

  .offset-xxl-2 {
    margin-left: percentage(2 / $grid-columns);
  }
  .col-xxl-8 {
    flex: 0 0 percentage(8 / $grid-columns);
    max-width: percentage(8 / $grid-columns);
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    min-height: 1px;
    width: 100%;
  }
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header {
  padding-bottom: 1rem;

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
    &.name {
      a {
        color: $gray-dark;
      }
    }
  }

  .nav-pills {
    a.nav-link {
      background-color: $gray-lightest;

      &.active,
      &:hover {
        background-color: $green-dark;
        color: $gray-lightest;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  .header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 2rem;
  }
}

.hidden {
  display: none;
}

.cv-pic {
  img {
    padding: 0 0 1rem 2rem;
  }
}

.profile,
.job,
.cv,
.open-source,
.donation,
.paid-support,
.talks {
  font-size: 1.125em;
  line-height: 1.4;

  p {
    text-align: justify;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.25em; // this is 20px
    line-height: 1.45; // this is 29px
  }
}

.profile {
  h2 {
    margin-top: 2rem;
    &.first {
      margin-top: 0;
    }
  }
}

.job,
.cv {
  h2 {
    margin-top: 50px;
    &:first-child, &:first-of-type {
      margin-top: 10px;
    }
  }

  h3 {
    margin-top: 30px;
  }
}

.cv {
  h3 {
    small {
      color: $gray-light;
    }
    span.light {
      font-weight: normal;
    }
  }

  .pdf-download {
    display: block;
    position: absolute;
    width: 6%;
    left: -6.5%;
    top: 18px;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 979px) {
    .pdf-download {
      display: none;
    }
  }
}

a.rss {
  float: right;
  margin: 0 4% 0 0;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  a.rss {
    margin-right: 6%;
    margin-top: -3px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  a.rss {
    margin-right: 10px;
    margin-top: 0;

    img {
      max-height: 36px;
      max-width: 36px;
    }
  }
}

.blog-articles {
  .article {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;

    .entry-title a {
      color: $gray-dark;
    }

    .article-info {
      text-align: right;

      .date {
        font-size: 1.3rem;
      }

      a.article-tag {
        display: block;
      }
    }

    .article-content {
      padding-left: 20px;
      padding-bottom: 10px;
      min-height: 150px !important;

      .article-info {
        display: block;
        text-align: left;
        margin-bottom: 15px;

        .article-tag {
          display: inline;
        }
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      .article-content {
        border-left: 1px solid #a9a9a9;
      }
    }
  }
}

.blog-article {
  .article {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;

    .entry-title {
      @include media-breakpoint-up(lg) {
        font-size: 5.5rem;
        font-weight: 300;
      }
    }

    .article-info {
      margin-top: 0.5rem;
    }

    .content {
      margin-top: 2rem;
    }

    h2, h3, h4 {
      margin-top: 1.4rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      .content {
        font-size: 120%;
      }
    }
  }

  .fix-me {
    padding-left: 30px;

    .title {
      display: inline-block;
      padding-right: 5px;
    }

    a {
      color: #ccc;

      &:active,
      &:link {
        color: #ccc;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .social-share {
    margin-top: 10px;

    .title {
      display: inline-block;
      padding-right: 5px;
    }

    @import './social.scss';

    .btn-social-icon > :first-child {
      font-size: 1.4em;
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .social-share {
      margin-top: 0;
    }
  }
}

.article {
  .article-tag:before {
    content: '#';
  }

  .content {
    text-align: justify;
  }

  pre code {
    display: block;
    font-size: 1rem;
    padding: 5px 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    overflow: hidden;
    max-width: 100%;

    &:hover {
      overflow-x: auto;
      width: 100%;
      max-width: none;
    }
  }

  img {
    max-width: 100%;

    &.tiny-image {
      max-width: 170px;
      max-height: 210px;
    }

    &.left-img {
      float: left;
      margin: 0 20px 10px 0;
    }
  }

  .gist {
    max-width: 100%;
  }
}

.archive {
  h2 {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
  }
  time {
    font-size: smaller;
    margin-left: 10px;
  }
}

.blog-tags {
  .tag-cloud {
    margin-top: 10px;
  }

  .article-tag {
    float: left;
    box-sizing: inherit;
    margin-bottom: 0.2em;
    margin-right: 0.2rem;

    a {
      white-space: nowrap;
      background-color: $gray-lightest;
      text-decoration: none;

      display: block;
      padding: 0.5em 1em;
      @include border-radius($nav-pills-border-radius);

      &.active,
      &:hover {
        color: $gray-lightest;
        background-color: $green-dark;
      }
    }
  }
}

blockquote.twitter-tweet {
  background-color: rgb(255, 255, 255);
  max-width: 520px;
  overflow: hidden;
  border: 1px solid rgb(225, 232, 237);
  border-radius: 4px;
  padding: 20px 20px 11.6px;
  font: 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
}
