---
layout: default
title: "Blog: Classier Twitter threads - Archive - Filip Procházka"
permalink: /archive
sitemap:
  priority: 0.1
---

<div class="row">
	<h1 class="col-md-11 offset-md-1">Classier Twitter threads - Archive</h1>
</div>

<div class="row archive">
	<div class="col-md-9 offset-md-1">
        {% assign posts = site.posts | sort: 'date' | reverse %}
        {% assign grouped_posts = posts | group_by_exp: "item", "item.date | date: '%Y'" %}

        {% for group in grouped_posts %}
        <br>
        <h3>{{ group.name }}</h3>

        {% for item in group.items %}
        <h2><a href="{{ item.url }}">
            {{ item.title }} <time datetime="{{ item.date | date_to_xmlschema }}" title="{{ item.date | date_to_xmlschema }}">{{ item.date | date: date_to_xmlschema }}</time>
        </a></h2>
        {% endfor %}

        {% endfor %}
	</div>
</div>
