---
layout: default
title: "Talks - Filip Procházka"
permalink: /talks
meta:
  description: "I like to listen to myself talk, so I occasionally show up at some local meetup to give talks."
  og:
    type: website
sitemap:
  priority: 0.1
---

<div class="talks">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">

			<h2>Talks</h2>

            {% assign talks = site.talks | sort: 'date' | reverse %}
            {% assign grouped_talks = talks | group_by_exp: "item", "item.date | date: '%Y'" %}

            {% for group in grouped_talks %}
			<br>
            <h3>{{ group.name }}</h3>
			<ul class="talks-list">
                {% for item in group.items %}
                <li><a href="{{ item.url }}">{{ item.talk.title }}</a></li>{% endfor %}
			</ul>
            {% endfor %}
		</div>
	</div>
</div>
