parameters:
	varDir: %appDir%/../var
	logDir: %varDir%/log
	srcDir: %appDir%/../src
	blogDir: %appDir%/../blog

	googleAnalytics:
		account: UA-12182518-9

	disqus:
		shortname: filip-prochazka-blog

	paypal:
		keyFile: %appDir%/config/paypal.key

	twitter:
		handle: ProchazkaFilip

	gplus:
		accountId: '103239456693574460264'

	facebook:
	    username: FilipProchazka
	    profileId: '1634280910'


application:
	errorPresenter: Error
	mapping:
		*: Fp\*Module\Presenters\*Presenter
	scanDirs:
		- %srcDir%/Presenters


di:
	debugger: off


session:
	expiration: 14 days


decorator:
	Fp\Presenters\BasePresenter:
		setup:
			- $appDir(%appDir%)
			- $wwwDir(%wwwDir%)
			- $productionMode(%productionMode%)
			- $googleAnalyticsAccount(%googleAnalytics.account%)
			- $disqusShortname(%disqus.shortname%)
			- $twitterHandle(%twitter.handle%)
			- $gplusAccountId(%gplus.accountId%)
			- $facebookUsername(%facebook.username%)
			- $facebookProfileId(%facebook.profileId%)


includes:
	- services.neon
	- config.local.neon
