parameters:
	varDir: %appDir%/../var
	logDir: %varDir%/log
	srcDir: %appDir%/../src


application:
	errorPresenter: Error
	mapping:
		*: Fp\*Module\Presenters\*Presenter
	scanDirs:
		- %srcDir%/Presenters


di:
	debugger: off


session:
	expiration: 14 days


decorator:
	Fp\Presenters\BasePresenter:
		setup:
			- $appDir(%appDir%)
