services:
    - Fp\RouterFactory(%productionMode%)
    router: @Fp\RouterFactory::createRouter()

    - Fp\Blog\Markdown\CustomMarkdown()
    - Fp\Blog\BlogIndex(%blogDir%, "%tempDir%/content-cache")
    - Fp\Sitemap\SitemapIndex(%appDir%)

    - Fp\FaviconsLoader(%wwwDir%)

    - Fp\Presenters\ErrorPresenter(%appDir%)
    - Fp\Presenters\StaticPresenter(%paypal.keyFile%)
