services:
    - Fp\RouterFactory(%productionMode%)
    router: @Fp\RouterFactory::createRouter()

    - Fp\FaviconsLoader(%wwwDir%)

    - Fp\Presenters\ErrorPresenter(%appDir%)
    - Fp\Presenters\StaticPresenter(%paypal.keyFile%)
