<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = '{{ site.disqus.shortname }}';
	var disqus_identifier = '{{ page.url }}';
	var disqus_url = '{{ site.url }}{{ page.url }}';
</script>
<script src="//{{ site.disqus.shortname }}.disqus.com/embed.js" async defer type="text/javascript"></script>
<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
