{block content}

<div class="row">
	<h1 n:block="#title" class="col-md-11 offset-md-1">Co se nevešlo na Twitter - Archiv</h1>
</div>

<div class="row archive" n:inner-foreach="$articles as $article">
	<div class="col-md-9 offset-md-1">
		<h2><a n:href="article, $article->slug">
			{$article->title} <small>{$article->publishedTime|timeAgo}</small>
		</a></h2>
	</div>
</div>
