<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
<div class="container">
    {% include header.html %}

    <div>
        <div class="row">
            <div class="col-sm-10 offset-sm-1 talks">
                <h2>{{ page.talk.title }}</h2>

                {{ content }}
            </div>
        </div>

        {% if page.talk.video %}
        <div class="row">
            <div class="col-sm-9 offset-sm-1 talks">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ page.talk.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
