{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>
{cache sitemap, expire => '+1 hour', tags => [sitemap]}
 <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
     <url n:foreach="$presenter->listPages() as $page">
         {foreach $page as $property => $value}<{$property}>{$value}</{$property}>{/foreach}
     </url>
 </urlset>
{/cache}
